  @import "tailwindcss";

  :root {
    --background: #ffffff;
    --foreground: #171717;
    --input-radius: 5px;
  }

  @theme inline {
    --breakpoint-xs: 375px;
    --breakpoint-s: 425px;
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --foreground: #ededed;
    }
  }

  body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
  }

  .border-gradient {
    padding: 1px;
    background: linear-gradient(180deg, #d1d1d1, #323232);
    border-radius: 5px;
  }

  .border-gradient-body {
    background-color: black;
    border-radius: 5px;
  }
